# ignore files in data/clean/ and data/raw/
data/clean/*
data/raw/*

# except the .keep files in order to maintain structure
!data/clean/.keep
!data/raw/.keep

# Ignore scrap_folder/
scrap_folder/

# Ignore visuals/exploratory
visuals/exploratory/
